@import 'core/vars';
@import 'core/fonts';
@import 'core/reset';

@import 'mixins/flexbox';
@import 'mixins/media';
@import 'mixins/transition';

@import 'modules/buttons';
@import 'modules/flex';
@import 'modules/wrapper';
@import 'modules/form-group';

@import 'pages/login';
// @import "icons/*.png";
// @include all-icons-sprites;

// use -> screen > 2560px
html {
	@include desktop-xlg {
		font-size: 125%;
	}
}
