$font-light:             'open_sanslight';
$font-regular:           'open_sansregular';
$font-bold:              'open_sansbold';
$font-semibold:              'open_sanssemibold';


$screen-xxs:              480px;
$screen-xs:               640px;
$screen-sm:               768px;
$screen-md:               1024px;
$screen-lg:               1200px;
$screen-xl:               1366px;
$screen-xxl:              2560px;

$color-blue:               #70b6e2;
$color-blue-hover:         #79c2f0;

$color-green:              #96c795;
$color-green-hover:        #33cc80;

$color-gray:               #2c303d;
$color-gray-hover:         #3d4252;

$color-red:                #ce2c52;
$color-red-hover:          #c93e57;

$color-black:              #616161;
$color-black-hover:        #454545;

$color-purple:              #aa93cf;
