// used:
// @include flex(center, flex-start, row, row wrap);

@mixin flex($alignItems, $justifyContent, $flexDirection: row, $flexFlow: initial) {
  @if $flexDirection == row {
      flex-direction: row;
  }
  else {
      flex-direction: column;
  }

  align-items: $alignItems;
  display: flex;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
  flex-flow: $flexFlow;
}
